.item {
  width: 100%;
}

.chrome {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.chrome > button {
  flex-shrink: 0;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25em;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.content {
  display: inline-block;
}
