.item {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.item > button {
  flex-shrink: 0;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
}

.content {
  display: inline-block;
}
